@{
    ViewData["Title"] = "Confirmação";
}
<h1>@ViewData["Title"]</h1>

<p>Pedido cadastrado com sucesso!</p>
<p>
    <a asp-action="Pedido">Adicionar outro pedido</a>
</p>
<p>
    <a asp-action="Atual">Ver pedido atual</a>
</p>
